// Place all the styles related to the challenges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.formDesc {
  width: 50%;
  height: 80px;
}

.challContainer{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  margin-left: 6vw;
}

.challGridItem1{
  // border: 1px red solid;
  // margin-left: 20%
}
.challGridItem2{
  // margin-left: 20%
  // border: 1px red solid;
}
.challGridItem3{
  // margin-left: 20%
  // border: 1px red solid;
}

.btn btn-primary {
  width: 50%;
}

.btn btn-primary btn-lg btn-block {
  color: white;
}


.card border-primary mb-3{
  margin-left: 50%
}

.border {
  margin-left: 35%
}

.mb-3{
  text-align: center;
}


.challengeName{
  list-style-type: none;
}


#challenge_name{
  width: 50%;
}


.yesform-control{
  width: 0;
}

.name{
  font-size: 20px;
}

.des {
  font-size: 20px;
}
.buttons {
  margin-left: 34%;
}

.btn btn-primary{
  font-size: 20px;

}

.a {
  font-size: 20px;
}


.card-header{
  font-size: 25px;
}

p.card-text{
}

a{

  font-size: 15px;

}

p{
  font-size: 13px;
}

// .test{
//   margin-right: 50%;
// }

ul {
  list-style-type: none;
  padding: 0;
}

.showSolutionButton{
  text-align: center;
  margin: 0 auto;
}


.border{
  text-align: center;
}
