.loginF {
  text-align: center;
}


.loginP{
  text-align: center;
  color: black;
}


.session{
  width: 50% ;
  margin-left: 25%
}

.jumbotron-login {
  width:50%
}

.jumbotron {
  margin-left: 25%;
}

.test {
  width: 50%;
}
